PORT=8001
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/luxestay?retryWrites=true&w=majority
ACCESS_TOKEN_SECRET=your_long_random_secret_here
ACCESS_TOKEN_EXPIRY=1d
CORS_ORIGIN=http://localhost:5173
NODE_ENV=production
