@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&family=Tagesschrift&display=swap');
.counter {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 24px;

  &:hover {
    border-color: var(--accent-border);
  }
  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}

.hero {
  position: relative;

  .base,
  .framework,
  .vite {
    inset-inline: 0;
    margin: 0 auto;
  }

  .base {
    width: 170px;
    position: relative;
    z-index: 0;
  }

  .framework,
  .vite {
    position: absolute;
  }

  .framework {
    z-index: 1;
    top: 34px;
    height: 28px;
    transform: perspective(2000px) rotateZ(300deg) rotateX(44deg) rotateY(39deg)
      scale(1.4);
  }

  .vite {
    z-index: 0;
    top: 107px;
    height: 26px;
    width: auto;
    transform: perspective(2000px) rotateZ(300deg) rotateX(40deg) rotateY(39deg)
      scale(0.8);
  }
}

#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

#next-steps {
  display: flex;
  border-top: 1px solid var(--border);
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 32px;
    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

#docs {
  border-right: 1px solid var(--border);

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}

#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;

  .logo {
    height: 18px;
  }

  a {
    color: var(--text-h);
    font-size: 16px;
    border-radius: 6px;
    background: var(--social-bg);
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: var(--shadow);
    }
    .button-icon {
      height: 18px;
      width: 18px;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex: 1 1 calc(50% - 8px);
    }

    a {
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}

#spacer {
  height: 88px;
  border-top: 1px solid var(--border);
  @media (max-width: 1024px) {
    height: 48px;
  }
}

.ticks {
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -4.5px;
    border: 5px solid transparent;
  }

  &::before {
    left: 0;
    border-left-color: var(--border);
  }
  &::after {
    right: 0;
    border-right-color: var(--border);
  }
}
.viewMoreBtn {
    background: white;
    display:flex;
    align-items: center;
    justify-content: center;
  width: auto;
  min-width: 100px;
  color: #0d6efd;
  border: 2px solid #0d6efd;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.viewMoreBtn:hover {
  background: #0d6efd;
  color: white;
}

.hotel-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
}

/* Tablet */
@media (max-width: 1024px) {
  .hotel-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .hotel-grid {
    grid-template-columns: 1fr;
    padding: 15px;
  }
}

.hotel-card {
  font-family: 'Poppins', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  border: 1px solid;
  border-radius: 10px;
  overflow: hidden;
  background: #1a1a1a;
  color:white;
    display: flex;
  flex-direction: column;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.hotel-card:hover{
   transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(197, 191, 191, 0.35);
}

.hotel-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.hotel-card h1,
.hotel-card h2,
.hotel-card h3,
.hotel-card p {
  color: inherit;
  padding: 0 5px;
  margin: 5px 0;
}
.hotel-card h1,
.hotel-card h2 {
 
  font-weight: 600;
  line-height: 1.3;
}

.hotel-card h1 {
    font-family: "Tagesschrift", serif;
  font-size: 24px;
    font-weight: 500;
 letter-spacing: 0.2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hotel-card h2 {
 
  font-size: 20px;
  font-weight: 400;
   letter-spacing: 0.3px;
  line-height: 0.5;
  opacity: 0.85;
}

.hotel-card h3 {
 
  font-size: 15px;
  font-weight: 400;
   letter-spacing: 0.3px;
  line-height: 0.5;
  opacity: 0.85;
}

/* Mobile image height adjustment */
@media (max-width: 600px) {
  .hotel-card img {
    height: 200px;
  }
}


.hero-title {
  font-family:"Tagesschrift",serif;

  font-size: 60px;
  text-align: center;
}

.hero-btn {
  padding: 12px 25px;
  border: 2px solid gold;
  background: transparent;
  color: white;
  cursor: pointer;
  font-weight:bold;
 transition:  background-color 0.3 ease, color 0.3s ease,;
}

.hero-btn:hover{
  color:black;
background-color: gold;

}

/* Tablet */
@media (max-width: 1024px) {
  .hero-title {
    font-size: 40px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .hero-title {

    font-size: 26px;
    padding: 0 10px;
    line-height: 10px;
  }

  .hero-btn {
    padding: 10px 18px;
    font-size: 14px;
  }
}

.hotel-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.hotel-content p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(195, 185, 185)
}


.leftBtn,
.rightBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.leftBtn { left: 8px; }
.rightBtn { right: 8px; }




.categories{
  width: 100%;
  display:flex;
  background: rgba(29, 29, 38, 0.4);
  overflow-x:auto;
  overflow-y: hidden;
  white-space: nowrap;
  gap:15px;
   padding: 18px 20px;
    margin: 30px auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  border-radius: 20px;
}
.category-btn{
  font-family:Georgia, 'Times New Roman', Times, serif;
    color:white;
     background: rgba(29, 29, 38, 0.4);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .5px;
 
   flex-shrink: 0;
  gap: 20px;
  padding:10px 20px;
  margin: 10px;
  

  border: none;
   border-radius: 30px;

 transition: all .3s ease;
 
}

.category-btn:hover{
   
    transform: translateY(-2px);
}

.categories::-webkit-scrollbar{
    display: none;
}




